body{
    text-align: center;
    font-family: 'Average';
    font-weight: bold;
}
form{
    white-space: nowrap;
}
nav{
    background-image: url(fastfood.png);
    margin: 1%;
    padding: 1%;
    background-position-y: center;
    background-position-x: center;
    font-family: 'Rubik Bubbles';
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 100px;
    color: white;
    font-weight: lighter;
}
.quantity{
    font-family: 'Kalnia';
    font-weight: bolder;
    text-align: center;
    font-size: 15px;
    width: 2%;
}
button{
    font-family: 'Average';
    font-weight: bolder;
    padding: 0.2%;
    margin: 0.1%;
}
